{% extends 'base.html' %}
{% block content %}
{% include 'popup.html' %}
<main>
    <section>
        <article>
            <h1>Administration</h1>
            <a href="{{ url_for('trips') }}" class="input_submit">Gérer les sorties</a>
            <a href="{{ url_for('poneys') }}" class="input_submit">Gérer les poneys</a>
            <a href="{{ url_for('users') }}" class="input_submit">Gérer les utilisateurs</a>
            <a href="{{ url_for('activities') }}" class="input_submit">Gérer les activités</a>
        </article>
    </section>
</main>
{% endblock %}