<footer>
    <div class="footer_infos">
        <div class="footer_parts">
            <p>Ils nous soutiennent :</p>
            <img class="logo_ffe" src="{{ url_for('static', filename='img/logo_ffe.png') }}">
        </div>
        <div class="footer_contact">
            <p>X rue de Y, Z</p>
            <p>06 XX XX XX XX</p>
            <p>sample@mail.fr</p>
        </div>
    </div>

    <ul class="wrapper">
        <li class="icon facebook">
            <img src="{{ url_for('static', filename='img/facebook_icon.png') }}">
            <span class="tooltip">Facebook</span>
        </li>
        <li class="icon twitter">
            <img src="{{ url_for('static', filename='img/twitter_icon.png') }}">
            <span class="tooltip">Twitter</span>
        </li>
        <li class="icon instagram">
            <img src="{{ url_for('static', filename='img/instagram_icon.png') }}">
            <span class="tooltip">Instagram</span>
        </li>
    </ul>
    <p class="footer_copyright">Copyright © Grand Galop - Sample Name</p>
</footer>