<header>
    <nav id="navigation_menu">
        <a href="{{ url_for('index') }}"><img class="navigation_logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/></a>
        <a class="navigation_link" href="{{ url_for('index') }}">Accueil</a>
        <a class="navigation_link" href="">Nouveautés</a>
        <a class="navigation_link" href="{{ url_for('team') }}">L'Équipe Grand Galop</a>
        {% if current_user.is_authenticated %}
            <a class="navigation_link" href="{{ url_for('account') }}">Mon compte</a>
            {% if current_user.admin %}
                <a class="navigation_link" href="{{ url_for('admin') }}">Administration</a>
            {% endif %}
            <a href="{{ url_for('logout') }}" class="logout">Se déconnecter</a>
        {% else %}
            <a class="navigation_link" href="{{ url_for('register') }}">Inscription</a>
            <svg onclick="loginPopup()" style="cursor: hand; margin-left: auto; margin-right: 5vw;" width="20px" height="20px" viewBox="-1 0 22 22" xmlns="http://www.w3.org/2000/svg"><path d="M10 0C13.3137 0 16 2.68629 16 6C16 9.3137 13.3137 12 10 12C6.68629 12 4 9.3137 4 6C4 2.68629 6.68629 0 10 0zM1 22.099C0.44772 22.099 0 21.6513 0 21.099V19C0 16.2386 2.23858 14 5 14H15.0007C17.7621 14 20.0007 16.2386 20.0007 19V21.099C20.0007 21.6513 19.553 22.099 19.0007 22.099C18.4484 22.099 1.55228 22.099 1 22.099z" fill="#758CA3"/></svg>
        {% endif %}
    </nav>
    <div id="infos">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
        <div>
            <h1>Grand Galop</h1>
            <h2>Écurie de loisirs</h2>
        </div>
    </div>
</header>