{% extends 'base.html' %}
{% block content %}
{% include 'popup.html' %}
<main>
    <section>
        <article class="team_cards">
            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>

            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>

            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>

            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>

            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>

            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>

            <div class="card">
                <div class="card-info">
                    <img class="card-avatar" src="{{ url_for('static', filename='img/team_faces/john_doe.jpg') }}" alt="John Doe's face">
                    <div class="card-title">John Doe</div>
                    <div class="card-subtitle">Fondateur</div>
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock %}