:root{
    --transition-time: 0.3s;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background: url('../img/background.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

svg > path{
    fill: white;
}

#infos{
    height: 90%;
    margin-left: -5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    filter: drop-shadow(0 0.4em 0.4em rgba(0, 0, 0, 0.3));
}

header h1{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 1);
}

header h2{
    font-size: 1.8rem;
    color: #58dd6a;
    text-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.8);
}

#navigation_menu{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 4em;
    position: fixed;
    top: 0px;
    z-index: 2;
    background: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 60%, transparent 100%);
}

.navigation_link{
    text-align: center;
    transition: background 0.25s;
    color: white;
    height: fit-content;
    margin: 0 30px;
    border-radius: 3px;
    text-shadow: 0 0 12px black;
    position: relative;
}

.navigation_link:after{
    content: "";
    bottom: -0.2em;
    left: 0;
    width: 0;
    position: absolute;
    height: 1px;
    background: white;
    transition: width var(--transition-time) ease-out;
}

.navigation_link:hover:after{
    width: 100%;
}

#content{
    width: 80vw;
    margin: auto;
    margin-top: 3em;
    line-height: 1.4em;
    text-align: justify;
}

#content h1{
    line-height: 2em;
}

.navigation_logo{
    width: 80px;
    padding-right: 1em;
    margin-top: 15px;
    margin-left: 5vw;
}

#popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 99;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
}

#popup_content{
    margin: auto;
    width: 60%;
    min-width: 325px;
    height: 80%;
    background: white;
    cursor: default;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
    padding: 10px 20px;
    padding-top: 20px;
}

/* Dynamic */
.fade-out{
    opacity: 0;
    transition: opacity var(--transition-time);
}
.fade-in{
    opacity: 1;
    transition: opacity var(--transition-time);
}